@import "react-datepicker/dist/react-datepicker.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;







.btn-active {
    @apply active:scale-95 transition-all duration-300;
}

.common-card {
    border: 1.13px solid #E4E7EC;
    border-radius: 12.56px;
    padding: 20px;
    background-color: white;
}

.card-title-large {
    font-size: 20px;
    font-weight: 600;
    color: #000000
}

.card-title-small {
    font-size: 16px;
    font-weight: 600;
    color: #000000
}

.card-subtitle-small {
    font-size: 14px;
    font-weight: 400;
    color: #70707A
}

.section-heading {
    font-weight: 700;
    font-size: 24px;
    color: #000000
}

.section-subtitle {
    font-weight: 400;
    font-size: 14px;
    color: #525866;
}

.rs-input,
.rs-input-group {
    border-width: 2px !important;
}

/* Disable hover effect for date range selection */
/* .rs-picker-calendar-cell:hover {
    background-color: transparent !important;
    color: inherit !important;
  } */

.common-button {
    border-radius: 8px !important;
    background-color: #0035C3 !important;
    padding: 6px 20px !important;
    text-transform: none !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.btn-primary {
    @apply bg-primary text-white;
}

.btn-secondary {
    @apply bg-white border border-gray-400;
}
